</div>
</div>
<!-- /container -->
<!-- Footer -->
<footer class="footer-distributed">

    <div class="footer-left">
        <center>
            <img class="img-fluid" src="/imagens/whatsapp-bot.png" width="120px">
            </p>
            <p class="footer-company-name">Copyright &copy; 2020-
                <?php echo date("Y"); ?> EletroInfo - Desenvolvido por <b>Alan Martines</b>
            </p>
        </center>
    </div>

    <div class="footer-center">

        <div>
            <i class="fas fa-map-marker-alt"></i>
            <p><span>Rua, 00 - Vila </span>CEP: 00000-000 | Cidade - UF</p>
        </div>

        <div>
            <i class="fas fa-phone-alt"></i>
            <p>+55 00 0 0000-0000 </p>
        </div>
        <!---
        <div>
            <i class="fas fa-envelope"></i>
            <p><span>@</span></p>
        </div>
        --->
    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Propósito da nossa equipe!</span>“Você quer passar o resto da sua vida vendendo água com açúcar ou
            quer uma chance de mudar o mundo?”
        </p>

        <div class="footer-icons">
            <a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

</footer>
<!-- Footer -->
<!--- --------------------------------------------------------------------------------------------------------------------------- --->
<!-- Primeiro o jQuery, depois o Popper.js, e depois o Bootstrap JS -->
<script type="text/javascript" src="/jquery/jquery-3.5.1.js"></script>
<script type="text/javascript" src="/jquery/popper.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<!-- Inclusão do Plugin jQuery Validation-->
<script type="text/javascript" src="/jquery/jquery.validate.min.js"></script>
<script type="text/javascript" src="/jquery/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="/jquery/additional-methods.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.min.js"></script>
<!--- --------------------------------------------------------------------------------------------------------------------------- --->
<script type="text/javascript"
    src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<!--- --------------------------------------------------------------------------------------------------------------------------- --->
<script type="text/javascript" src="/page/js/custom.js"></script>
<script type="text/javascript" src="/page/js/politica-de-cookies.js"></script>
<!--- --------------------------------------------------------------------------------------------------------------------------- --->
</body>

</html>