<!-- Inicio - Image and text -->
<nav class="navbar navbar-dark navbar-expand-lg">
  <a class="navbar-brand" href="../home/">
    <img src="/imagens/whatsapp-bot.png" height="32" class="img-fliud d-inline-block align-top" />
    EletroInfo
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li><a href="#" class="nav-link">Usuários</a></li>
    </ul>
    <ul class="navbar-nav mx-auto">

    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbar" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fas fa-user"></i>&#32;
          Teste
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbar">
          <a class="dropdown-item" href="#"><i class="fas fa-address-card"></i>&#32;Meus dados</a>
          <a class="dropdown-item" href="#"><i class="fas fa-envelope"></i>&#32; Alterar e-mail</a>
          <a class="dropdown-item" href="#"><i class="fas fa-key"></i>&#32; Alterar senha</a>
          <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i>&#32;Sair</a>
        </div>
      </li>
    </ul>
  </div>
</nav>