<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>My Whatsapp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="icon" type="image/png" sizes="192x192" href="imagens/favicons/android-icon-192x192.png">
	<link rel="apple-touch-icon" sizes="180x180" href="imagens/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="96x96" href="imagens/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="32x32" href="imagens/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="imagens/favicons/favicon-16x16.png">
	<link rel="manifest" href="imagens/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="imagens/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!--- --------------------------------------------------------------------------------------------------------------------------- --->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta property='og:title' content='My Whatsapp' />
	<meta name="title" content="My Whatsapp">
	<meta name="description" content="My Whatsapp" />
	<meta name="keywords" content="Alan Martines, My Whatsapp" />
	<meta name="robots" content="index, follow">
	<meta name='content-language' content='pt-br' />
	<meta name="author" content="Alan Martines">
	<!--- --------------------------------------------------------------------------------------------------------------------------- --->
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="page/css/style.css" />
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="fontawesome-free/css/all.min.css" />
	<link rel="stylesheet" type="text/css" href="lobibox/css/lobibox.min.css" />
	<link rel="stylesheet" type="text/css" href="sweetalert2/css/sweetalert2.min.css"/>
	<!--- --------------------------------------------------------------------------------------------------------------------------- --->
</head>

<body>
	<!-- Inicio - Image and text -->
	<nav class="navbar navbar-dark navbar-expand-lg">
		<a class="navbar-brand" href="/Start">
			<img src="imagens/favicons/favicon-32x32.png" height="32" class="img-fliud d-inline-block align-top" />
			My Whatsapp
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">

			<ul class="navbar-nav mr-auto nav-flex-icons">

			</ul>
			<ul class="navbar-nav mx-auto nav-flex-icons">

			</ul>
			<ul class="navbar-nav ml-auto nav-flex-icons">

			</ul>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="content">
			<div class="text-center">
				<!--Grid row-->
				<div class="row justify-content-center align-items-center">

					<div class="col-md-6 text-center mx-auto">
						<img class="img-fluid" id="imageQrcode" name="imageQrcode" src="imagens/body/readqrcode.png" width="250px"
							alt="qr-code">
						<br></p>
						<span id="description">Sistema não iniciado</span>
					</div>
				</div>

				<form class="form-signin text-center" id="start-form" method="post" action="javascript:void(0)">
				<div class="row justify-content-center align-items-center">

					<div class="col-md-6 text-center mx-auto">
						<div class="form-group col-md-8">
							<label for="AuthorizationToken" class="col-form-label">Authorization Token:</label>
							<span class="r">*</span>
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fas fa-shield-alt"></i>
									</span>
								</div>
								<input type="text" class="rounded form-control" id="AuthorizationToken" name="AuthorizationToken"
									placeholder="Authorization Token" />
							</div>
							<span class="help-block r" id="error"></span>
						</div>

						<div class="form-group col-md-8">
							<label for="SessionName" class="col-form-label">Session Name:</label>
							<span class="r">*</span>
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fas fa-user-tie"></i>
									</span>
								</div>
								<input type="text" class="rounded form-control" id="SessionName" name="SessionName"
									placeholder="Session Name" />
							</div>
							<span class="help-block r" id="error"></span>
						</div>

						<div class="form-group col-md-8">
							<label for="MultiDevice" class="col-form-label">Multi-Device:</label>
							<span class="r">*</span>
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fas fa-mobile-alt"></i>
									</span>
								</div>
								<select class="rounded form-control" name="MultiDevice" id="MultiDevice">
									<option value="" selected="selected">-- Selecione --</option>
									<option value="true">true</option>
									<option value="false">false</option>
								</select>
							</div>
							<span class="help-block r" id="error"></span>
						</div>

						<div class="form-group col-md-8">
							<label for="whatsappVersion" class="col-form-label">Whatsapp Version:</label>
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fas fa-code-branch"></i>
									</span>
								</div>
								<input type="text" class="rounded form-control" id="whatsappVersion" name="whatsappVersion"
									placeholder="Whatsapp Version Ex.: 2.2204.13" />
							</div>
							<span class="help-block r" id="error"></span>
						</div>




						<div class="form-group col-md-8">
							<label for="wh_status" class="col-form-label">Web Hook Status:</label>
							<span class="r">*</span>
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fas fa-shield-alt"></i>
									</span>
								</div>
								<input type="text" class="rounded form-control" id="wh_status" name="wh_status"
									placeholder="Web Hook Status" />
							</div>
							<span class="help-block r" id="error"></span>
						</div>

						<div class="form-group col-md-8">
							<label for="wh_message" class="col-form-label">Web Hook Message:</label>
							<span class="r">*</span>
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fas fa-user-tie"></i>
									</span>
								</div>
								<input type="text" class="rounded form-control" id="wh_message" name="wh_message"
									placeholder="Web Hook Message" />
							</div>
							<span class="help-block r" id="error"></span>
						</div>

						<div class="form-group col-md-8">
							<label for="MultiDevice" class="col-form-label">Multi-Device:</label>
							<span class="r">*</span>
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fas fa-mobile-alt"></i>
									</span>
								</div>
								<select class="rounded form-control" name="MultiDevice" id="MultiDevice">
									<option value="" selected="selected">-- Selecione --</option>
									<option value="true">true</option>
									<option value="false">false</option>
								</select>
							</div>
							<span class="help-block r" id="error"></span>
						</div>

						<div class="form-group col-md-8">
							<label for="whatsappVersion" class="col-form-label">Whatsapp Version:</label>
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fas fa-code-branch"></i>
									</span>
								</div>
								<input type="text" class="rounded form-control" id="whatsappVersion" name="whatsappVersion"
									placeholder="Whatsapp Version Ex.: 2.2204.13" />
							</div>
							<span class="help-block r" id="error"></span>
						</div>			

				</div>

					<div class="col-md-6 text-center mx-auto">

							<div class="form-group col-md-8">
								<label for="wh_status" class="col-form-label">Web Hook Status:</label>
								<span class="r">*</span>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-shield-alt"></i>
										</span>
									</div>
									<input type="text" class="rounded form-control" id="wh_status" name="wh_status"
										placeholder="Web Hook Status" />
								</div>
								<span class="help-block r" id="error"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="wh_message" class="col-form-label">Web Hook Message:</label>
								<span class="r">*</span>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-user-tie"></i>
										</span>
									</div>
									<input type="text" class="rounded form-control" id="wh_message" name="wh_message"
										placeholder="Web Hook Message" />
								</div>
								<span class="help-block r" id="error"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="MultiDevice" class="col-form-label">Multi-Device:</label>
								<span class="r">*</span>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-mobile-alt"></i>
										</span>
									</div>
									<select class="rounded form-control" name="MultiDevice" id="MultiDevice">
										<option value="" selected="selected">-- Selecione --</option>
										<option value="true">true</option>
										<option value="false">false</option>
									</select>
								</div>
								<span class="help-block r" id="error"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="whatsappVersion" class="col-form-label">Whatsapp Version:</label>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-code-branch"></i>
										</span>
									</div>
									<input type="text" class="rounded form-control" id="whatsappVersion" name="whatsappVersion"
										placeholder="Whatsapp Version Ex.: 2.2204.13" />
								</div>
								<span class="help-block r" id="error"></span>
							</div>
					</div>
				</div>

				<div class="row justify-content-center align-items-center">
					<div class="col-md-12 text-center mx-auto">
						<div class="form-group col-md-6">
							<div class="text-center">
								<span style="font-size: 11px">
									<span class="r">*</span>
									<i>Campos de preenchimento obrigat&oacute;rio</i>
								</span>
								</p>
								<button type="submit" name="send_form" id="send_form" class="btn btn-primary">Iniciar</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
	<!-- /container -->
	<!-- Footer -->
	<footer class="footer-distributed">
		<div class="footer-left">
			<div class="text-center">
				<img class="img-fluid" src="imagens/favicons/apple-icon-180x180.png" width="120px">
				</p>
				<p class="footer-company-name">Copyright &copy; 2022 - <spam id="year"></spam> EletroInfo - Desenvolvido por
					<b>Alan Martines</b>
				</p>
			</div>
		</div>
		<div class="footer-center">
			<div>

			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">
				<span>Nota!</span>"Sejam todos bem-vindos a API My Whatsapp"
			</p>
			<div class="footer-icons">
				<a href="https://api.whatsapp.com/send/?phone=5567996787854&text&app_absent=0" target="_blank"><i
						class="fab fa-whatsapp"></i></a>
				<a href="https://github.com/AlanMartines/mywhatsapp-api-node-wppconnect" target="_blank"><i
						class="fab fa-github-square"></i></a>
			</div>
		</div>
	</footer>
	<!-- Footer -->
	<!--- --------------------------------------------------------------------------------------------------------------------------- --->
	<!-- Primeiro o jQuery, depois o Popper.js, e depois o Bootstrap JS -->
	<script type="text/javascript" src="jquery/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="popper/popper.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<!-- Inclusão do Plugin jQuery Validation-->
	<script type="text/javascript" src="jquery/jquery.validate.min.js"></script>
	<script type="text/javascript" src="jquery/jquery.maskedinput.min.js"></script>
	<script type="text/javascript" src="jquery/additional-methods.min.js"></script>
	<script type="text/javascript" src="lobibox/js/lobibox.min.js"> </script>
	<!--- --------------------------------------------------------------------------------------------------------------------------- --->
	<!-- JavaScript (Opcional) -->
	<script type="text/javascript" src="sweetalert2/js/sweetalert2.min.js"></script>
	<script type="text/javascript" src="axios/axios.min.js"></script>
	<script type="text/javascript" src="socket/socket.io.js"></script>
	<script type="text/javascript" src="page/js/custom.js"></script>
	<script type="text/javascript" src="page/js/start.js"></script>
	<script type="text/javascript">
		//
		let url;
		let host = '<%=host %>';
		let host_ssl = '<%=host_ssl %>';
		let port = '<%=port %>';
		url = host_ssl == '' ? `http://${host}:${port}` : `https://${host_ssl}`;
		let d = new Date();
		let year = d.getFullYear();
		$("#year").text(year);
		const socket = io(url + '/', { transports: ['websocket'] });
		//
		$("#description").html("Sistema não iniciado");
		//
		$("#start-form").validate({
			rules: {
				AuthorizationToken: {
					required: true
				},
				SessionName: {
					required: true
				},
				MultiDevice: {
					required: true
				},
				whatsappVersion: {
					required: false
				}
			},
			messages: {
				AuthorizationToken: {
					required: "Por favor, Informe seu token."
				},
				SessionName: {
					required: "Por favor, Informe o nome da sessão."
				},
				MultiDevice: {
					required: "Por favor, Selecione uma opção."
				},
				whatsappVersion: {
					required: "Por favor, Informe uma versão."
				}
			},
			errorPlacement: function (error, element) {
				$(element).closest('.form-group').find('.help-block').html(error.html());
			},
			highlight: function (element) {
				$(element).closest('.form-control').removeClass('is-valid').addClass('is-invalid');
				$(element).closest('.custom-select').removeClass('is-valid').addClass('is-invalid');
			},
			unhighlight: function (element, errorClass, validClass) {
				$(element).closest('.form-group').find('.help-block').html('');
				$(element).closest('.form-control').removeClass('is-invalid').addClass('is-valid');
				$(element).closest('.custom-select').removeClass('is-invalid').addClass('is-valid');
			},
			submitHandler: function () {
				event.preventDefault();
				let data = $("#start-form").serialize();
				/*
				let formData = $("#start-form").serializeObject();
				console.log(formData);
				console.log(data);
				try {
				axios.post(`${url}/sistema/Start`, {
					firstName: 'Fred',
					lastName: 'Flintstone'
				})
					.then(function (response) {
						console.log(response);
					})
					.catch(function (error) {
						console.log(error);
					});
					} catch (error) {
						// handle error
					}
				*/
				//
				$.ajax({
					type: 'POST',
					url: url + '/sistema/Start',
					data: data,
					dataType: 'json',
					beforeSend: function () {
						$("#send_form").html('<i class="fas fa-spinner fa-spin"></i> Iniciando ...');
						$('#imageQrcode').attr("src", 'imagens/body/loading.gif');
						$("#description").html("Por favor aguarde, sistema iniciando.");
					},
					success: function (response) {
						console.log(response);
						$("#send_form").html('Iniciar');
						if (response.state == 'CONNECTED') {
							$('#imageQrcode').attr("src", 'imagens/body/ok.png');
							$("#description").html("Sistema iniciado com sucesso.");

							window.scrollTo(0, 0);
						} else if(response.state == 'DISCONNECTED'){
							$('#imageQrcode').attr("src", 'imagens/body/error.png');
							$("#description").html("Sistema desconectado");

							window.scrollTo(0, 0);
						}else if(response.state == 'STARTING'){
							$('#imageQrcode').attr("src", 'imagens/body/loading.gif');
						  $("#description").html("Por favor aguarde, sistema iniciando.");

							window.scrollTo(0, 0);
						}
					},
					error: function (XMLHttpRequest, textStatus, errorThrown) {
						$("#send_form").html('Iniciar');
						$('#imageQrcode').attr("src", 'imagens/body/error.png');
						$("#description").html("Sistema não iniciado");

						window.scrollTo(0, 0);
					}
				}).fail(function (jqXHR, textStatus, error) {
					$("#send_form").html('Iniciar');
					$('#imageQrcode').attr("src", 'imagens/body/error.png');
					$("#description").html("Sistema não iniciado");

					window.scrollTo(0, 0);
				});
			}
		});
		//
		socket.on('qrCode', (qrCode) => {
			let SessionName = $('#SessionName').val();
			if (SessionName === qrCode.SessionName) {
				$("#description").html("Por favor, efetue a leitura do qr code informado, tentativa "+qrCode.attempts);
				$('#imageQrcode').attr("src", qrCode.data);
			}
		});
		//
		socket.on('status', (update) => {
			let SessionName = $('#SessionName').val();
			//
			console.log(update);
			//
			if (SessionName == update.SessionName) {
			if (update.status == 'isLogged' || update.status  == 'qrReadSuccess' || update.status  == 'chatsAvailable' || update.status  == 'inChat') {
				//
				$('#imageQrcode').attr("src", 'imagens/body/ok.png');
        $("#description").html("Sistema iniciado com sucesso.");
				//
			} else if(update.status == 'qrReadError'){
				//
				$('#imageQrcode').attr("src", 'imagens/body/error.png');
        $("#description").html("Erro ao efetuar leitura do qr code ou não lido.");
				//
			} else if(update.status == 'autocloseCalled' || update.status == 'browserClose'){
				//
				$('#imageQrcode').attr("src", 'imagens/body/error.png');
        $("#description").html("Erro ao efetuar leitura do qr code, navegador fechado.");
				//
			} else if(update.status == 'desconnectedMobile'){
				//
				$('#imageQrcode').attr("src", 'imagens/body/error.png');
        $("#description").html("Dispositivo desconectado.");
				//
			} 
		}
			//
		});
	</script>
</body>

</html>