<html>

<body>
  <h1>Socket.io</h1>
  <img id="image" src="/imagens/whatsapp-bot.png" draggable="false" width="200" alt="My Whats">
  <script src="socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    socket.on('qrCode', (qrCode) => {
      document.getElementById('image').src = qrCode.data
    });
  </script>
</body>

</html>