	<!DOCTYPE html>
	<html lang="pt-br">
	<head>
			<%- include('../partials/head'); %>
	</head>
	<body>
	
	<!-- Inicio - Image and text -->
	<nav class="navbar navbar-dark navbar-expand-lg">
		<a class="navbar-brand" href="/Start">
			<img src="imagens/favicons/favicon-32x32.png" height="32" class="img-fliud d-inline-block align-top" />
			My Whatsapp
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">

			<ul class="navbar-nav mr-auto nav-flex-icons">

			</ul>
			<ul class="navbar-nav mx-auto nav-flex-icons">

			</ul>
			<ul class="navbar-nav ml-auto nav-flex-icons">

			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="content">
			<div class="text-center">
				<!--Grid row-->
				<div class="row justify-content-center align-items-center">

					<div class="col-md-6 text-center mx-auto">
						<img class="img-fluid" id="imageQrcode" name="imageQrcode" src="imagens/body/readqrcode.png" width="264px"
							height="264px" alt="qr-code">
						<br></p>
						<span id="description">Sistema não iniciado</span>
					</div>
				</div>
				<hr class="solid">
				<form class="form-signin text-center" id="start-form" method="post" action="javascript:void(0)">
					<div class="row justify-content-center align-items-center">

						<div class="col-md-6 text-center mx-auto">
							<div class="form-group col-md-12">
								<label for="AuthorizationToken" class="col-form-label">Authorization Token</label>
								<span class="r">*</span>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-shield-alt"></i>
										</span>
									</div>
									<input type="text" class="rounded form-control" id="AuthorizationToken" name="AuthorizationToken"
										placeholder="Authorization Token" />
								</div>

							</div>

							<div class="form-group col-md-12">
								<label for="SessionName" class="col-form-label">Session Name</label>
								<span class="r">*</span>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-user-tie"></i>
										</span>
									</div>
									<input type="text" class="rounded form-control" id="SessionName" name="SessionName"
										placeholder="Session Name" />
								</div>

							</div>

							<div class="form-group col-md-12">
								<label for="MultiDevice" class="col-form-label">Multi-Device</label>
								<span class="r">*</span>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-mobile-alt"></i>
										</span>
									</div>
									<select class="rounded form-control" name="MultiDevice" id="MultiDevice">
										<option value="" selected="selected">-- Selecione --</option>
										<option value="true">true</option>
										<option value="false">false</option>
									</select>
								</div>

							</div>

							<div class="form-group col-md-12">
								<label for="whatsappVersion" class="col-form-label">Whatsapp Version</label>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-code-branch"></i>
										</span>
									</div>
									<input type="text" class="rounded form-control" id="whatsappVersion" name="whatsappVersion"
										placeholder="Whatsapp Version Ex.: 2.2204.13" />
								</div>

							</div>

						</div>

						<div class="col-md-6 text-center mx-auto">

							<div class="form-group col-md-12">
								<label for="wh_status" class="col-form-label">Web Hook Status</label>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-globe"></i>
										</span>
									</div>
									<input type="text" class="rounded form-control" id="wh_status" name="wh_status"
										placeholder="Web Hook Status" />
								</div>

							</div>

							<div class="form-group col-md-12">
								<label for="wh_message" class="col-form-label">Web Hook Message</label>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-globe"></i>
										</span>
									</div>
									<input type="text" class="rounded form-control" id="wh_message" name="wh_message"
										placeholder="Web Hook Message" />
								</div>

							</div>

							<div class="form-group col-md-12">
								<label for="wh_qrcode" class="col-form-label">Web Hook Qr-code</label>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-globe"></i>
										</span>
									</div>
									<input type="text" class="rounded form-control" id="wh_qrcode" name="wh_qrcode"
										placeholder="Web Hook Qr-code" />
								</div>

							</div>

							<div class="form-group col-md-12">
								<label for="wh_connect" class="col-form-label">Web Hook Connect</label>
								<div class="input-group">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-globe"></i>
										</span>
									</div>
									<input type="text" class="rounded form-control" id="wh_connect" name="wh_connect"
										placeholder="Web Hook Connect" />
								</div>

							</div>
						</div>
					</div>
					<hr class="solid">
					<div class="row justify-content-center align-items-center">
						<div class="col-md-12 text-center mx-auto">
							<div class="form-group col-md-12">
								<div class="text-center">
									<span style="font-size: 11px">
										<span class="r">*</span>
										<i>Campos de preenchimento obrigat&oacute;rio</i>
									</span>
									</p>
									<button type="submit" name="send_form" id="send_form" class="btn btn-primary">Iniciar</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /container -->
	<footer>
			<%- include('../partials/footer'); %>
	</footer>
	</body>
	</html>