<div class="row d-flex justify-content-center">
    <div class="col-sm-6">
        <div class="card border-secondary mb-3">
            <div class="card-header text-white bg-secondary font-weight-bold text-center">My Whats</div>
            <div class="card-body text-secondary text-center align-items-center">
                <div class="col-md-12 text-center">
                    <div class="form-group col-12 text-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-user-secret"></i>
                                </div>
                            </div>
                            <input type="text" class="rounded form-control text-center" name="SessionName"
                                id="SessionName" value="" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6 text-center">
                            <span id="qrcodeVenon"></span>
                        </div>
                        <div class="col-md-6 text-left">
                            <strong>Serviço.........: </strong><span id="statusVenon"></span>
                            <br>
                            <strong>Status...........: </strong><span id="startVenom"></span>
                            <br>
                            <strong>Contato.......: </strong><span id="contatoVenon"></span>
                            <br>
                            <strong>Wa Versão...: </strong><span id="waversaoVenon"></span>
                            <br>
                            <strong>Plataforma..: </strong><span id="sistemaVenon"></span>
                            <br>
                            <strong>Bateria.........: </strong><span id="bateriaVenon"></span>
                            <br>
                            <strong>Carregador..: </strong><span id="carregadorVenon"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 text-center">
                        <button id="starVenon" type="button" class="btn btn-sm btn-success">Iniciar</button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button id="restarVenon" type="button" class="btn btn-sm btn-warning">Reiniciar</button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button id="desconectarVenon" type="button" class="btn btn-sm btn-danger">Desconectar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>